<div class="rooms">
    <div>
        <a href="/rooms/create">Create New Room</a>
    </div>
    {{#each rooms}}
        <div class="room">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>{{playing}}/{{players}} playing</p>
            {{#if viewers}}<p>{{viewers}} viewing</p>{{/if}}
            <a href="room/{{id}}">Join</a>
        </div>
    {{/each}}
</div>